<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 命名空间mapper,如果有多个mapper文件，这个必须唯一 -->
<mapper namespace="com.wanmen.mappers.content.BaseMapper">
    <!-- 定义表字段 -->
    <sql id="base"> b.case_name,b.expected,u.account,u.password</sql>
    <!--  定义返回类型  -->
    <resultMap id="baseMap" type="com.wanmen.model.content.BaseCase">
        <result property="id" column="id"/>
        <result property="caseName" column="case_name"/>
        <result property="expected" column="expected"/>
        <result property="account" column="account"/>
        <result property="password" column="password"/>
        <result property="isDel" column="is_del"/>
    </resultMap>

    <select id="findBaseCases" parameterType="java.lang.String" resultMap="baseMap">
        select
        <include refid="base"/>
        from base_case b
        left join users u
        on b.user_id = u.id
        where scenes=#{0}
        and is_del=0
    </select>
</mapper>